* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #708090;
  padding: 2rem;
  margin: auto;
  max-width: 1900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 1900px) {
    grid-template-columns: 1fr;
  }
  place-items: center;
  gap: 2rem;
}

.bar {
  fill: rgb(51, 173, 255);
  pointer-events: all;
}

.bar:hover {
  fill: white;
}

.container {
  width: 900px;
  height: 560px;
  padding: 20px;
  background-color: white;
}

.title,
.subtitle {
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 200;
}

.title {
  font-size: 2em;
}

.barChartTooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  transform: translateX(20px);
  width: 150px;
  height: 50px;
  padding: 2px;
  font-size: 14px;
  background: lightsteelblue;
  border: 0px;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
}

.heatMapTooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  transform: translate(-50px, -90px);
  width: 110px;
  height: 70px;
  padding: 2px;
  font-size: 14px;
  color: white;
  background: black;
  border: 0px;
  box-shadow: 1px 1px 10px;
  border-radius: 5px;
  pointer-events: none;
}

#heat-map-legend {
  position: relative;
  top: -50px;
  left: 40px;
}

.scatterplotTooltip {
  display: flex;
  position: absolute;
  text-align: left;
  transform: translate(0px, -35px);
  padding: 10px;
  font-size: 12px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
